.features-section {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 50px 0; 
  overflow: hidden; /* Garante que o grid não cause scroll horizontal */
}


.features-section .title h2 {
  text-align: left;
  margin-left: 5rem;
  font-size: 4rem;
  margin-bottom: 20px;
  background: linear-gradient(to right, #2196f3, #1976d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grid {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
  -t-mask-image: radial-grawebkidient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 110%);
  mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 110%);
  z-index: 0;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 50px;
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 1;
}

/* Responsividade */
@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}
