@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-350px * 7));
  }
}

.rolling-block {
  background-color: white;
  text-align: center;
}

.slider {
  background: white;
  height: 110px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rolling-tag {
  display: inline-block;
  background: linear-gradient(to right, #2196f3, #1976d2);
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 300px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(350px * 14);
  align-items: center !important;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.slider:hover .slide-track {
  animation-play-state: paused;
}

.slider .slide {
  height: 100px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .slide img {
  object-fit: cover;
  max-height: 75%;
  max-width: 75%;
}